{% extends 'master.html' %}
{% load static %}
{% block content %}


<center><br><br><br>
    <h1 class="pt-5 mt-4">My Experiences</h1>
</center>

<div class="container mx-auto mt-5 position-relative">
    <div class=" position-relative">
        <button class="btn btn-success - w-100 text-start btn-lg" type="button" id="" data-bs-toggle=""
            aria-expanded="true">
            <i class="fas fa-user-graduate text-white">&nbsp;&nbsp;&nbsp;</i>Education and Qualifications
        </button>
        <div class="-menu w-100 p-3 position-relative" aria-labelledby="MenuButton1">
            <hr class="w-100 mx-auto">
            <div class="row mb-4 ">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example1">Degree</label>
                        <input type="text" id="" placeholder="e.g Master Degree in Computer Science" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">School</label>
                        <input type="text" placeholder="e.g New york University" id="" class="form-control" />
                    </div>
                </div>
            </div>
            <!-- start date -->
            <div class="row mb-4 ">
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example1">Start year</label>
                        <input type="text" id="" placeholder="e.g 2012" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <label class="form-label" for="form3Example2">End Year</label>
                        <input type="text" placeholder="e.g 2016" id="" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row mb-4 position-relative">
                <div class="col">
                    <div class="col">
                        <div class="form-outline">
                            <button class="btn btn-success"><i
                                    class="far fa-lightbulb text-white">&nbsp;&nbsp;</i>Tips</button>
                        </div>
                    </div>
                    <div class="col text-end mb-4">
                        <div class="form-outline">
                            <button class="btn btn-success "><i
                                    class="far fa-trash-alt text-white">&nbsp;&nbsp;</i>Delete</button>
                            <button class="btn btn-success "><i
                                    class="far fa-save text-white"></i>&nbsp;&nbsp;Save</button>
                        </div>
                    </div>
                    <div class="form-outline mb-4">
                        <button class="btn btn-success w-100"><i
                                class="fas fa-plus-circle text-white"></i>&nbsp;&nbsp;Add
                            Another Education</button>
                    </div>
                </div>
            </div>
            <!-- Resume Objective -->
            <div class=" pt-5 position-relative">
                <button class="btn btn-success -toggle w-100 text-start btn-lg position-relative" type="button"
                    id="MenuButton1" data-bs-toggle="" aria-expanded="true">
                    <i class="fas fa-user-circle text-white">&nbsp;&nbsp;&nbsp;</i>Resume objective
                </button>
                <div class="-menu w-100 p-3 position-relative" aria-labelledby="MenuButton1">
                    <hr class="w-100 mx-auto">
                    <div class="row mb-4 position-relative">
                        <!-- Description Start -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Description</label>
                            <textarea type="Text" id="form3Example3" class="form-control" placeholder=""
                                style="height: 150px"></textarea>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <button class="btn btn-success"><i
                                        class="far fa-lightbulb text-white">&nbsp;&nbsp;</i>Tips</button>
                            </div>
                        </div>
                        <div class="col text-end mb-4">
                            <div class="form-outline">
                                <button class="btn btn-success "><i
                                        class="far fa-save text-white"></i>&nbsp;&nbsp;Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- button 3 -->
            <button class="btn btn-success -toggle w-100 text-start btn-lg mt-5 position-relative" type="button"
                id="MenuButton1" data-bs-toggle="" aria-expanded="true">
                <i class="fas fa-briefcase text-white">&nbsp;&nbsp;&nbsp;</i>Work Expereience
            </button>
            <div class="-menu w-100 p-3 position-relative" aria-labelledby="MenuButton1">
                <hr class="w-100 mx-auto">
                <div class="row mb-4 position-relative">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example1">Job tittle</label>
                            <input type="text" id="" placeholder="e.g sales manager" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example2">Company Name</label>
                            <input type="text" placeholder="e.g Google" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                <!-- start date -->
                <div class="row mb-4 ">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example1">Start year</label>
                            <input type="text" id="" placeholder="e.g 2012" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example2">End Year</label>
                            <input type="text" placeholder="e.g 2016(if you currntly working here, please enter as Present)" id="" class="form-control" />
                        </div>
                    </div>
                </div>
                
                    <!-- Description Start -->
                    <div class="form-outline mb-4 position-relative">
                        <label class="form-label" for="form3Example3">Description</label>
                        <textarea type="Text" id="form3Example3" class="form-control" placeholder=""
                            style="height: 150px"></textarea>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <button class="btn btn-success"><i
                                    class="far fa-lightbulb text-white">&nbsp;&nbsp;</i>Tips</button>
                        </div>
                    </div>
                    <div class="col text-end mb-4">
                        <div class="form-outline">
                            <button class="btn btn-success "><i
                                    class="far fa-trash-alt text-white">&nbsp;&nbsp;</i>Delete</button>
                            <button class="btn btn-success "><i
                                    class="far fa-save text-white"></i>&nbsp;&nbsp;Save</button>
                        </div>
                    </div>
                    <div class="form-outline mb-4">
                        <button class="btn btn-success w-100"><i
                                class="fas fa-plus-circle text-white"></i>&nbsp;&nbsp;Add
                            Another Work Expereince</button>
                    </div>
                </div>
            </div>
            <!-- skills -->
            <button class="btn btn-success -toggle w-100 text-start btn-lg mt-5 position-relative" type="button"
                id="MenuButton1" data-bs-toggle="" aria-expanded="true">
                <i class="fas fa-user-graduate text-white">&nbsp;&nbsp;&nbsp;</i>Skills
            </button>
            <div class="-menu w-100 p-3 position-relative" aria-labelledby="MenuButton1">
                <hr class="w-100 mx-auto">
                <div class="row mb-4 ">
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example1">Skill</label>
                            <input type="text" id="" placeholder="e.g MIcrosoft Word" class="form-control" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-outline">
                            <label class="form-label" for="form3Example2">Level</label>
                            <select class="form-control" name="">
                                <option value="0">Select level</option>
                                <option value="100">Expert</option>
                                <option value="75">Experienced</option>
                                <option value="50">Skilfull</option>
                                <option value="25">Intermediate</option>
                                <option value="20">Beginner</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="col text-end mb-4">
                    <div class="form-outline">
                        <button class="btn btn-success "><i
                                class="far fa-trash-alt text-white">&nbsp;&nbsp;</i>Delete</button>
                        <button class="btn btn-success "><i
                                class="far fa-save text-white"></i>&nbsp;&nbsp;Save</button>
                    </div>
                </div>
                <div class="form-outline mb-4">
                    <button class="btn btn-success w-100"><i
                            class="fas fa-plus-circle text-white position-relative"></i>&nbsp;&nbsp;Add
                        Another Skill</button>
                </div>
            </div>
            <!-- Skill end Here -->
            <!-- Interests starts here -->
            <div class=" pt-5 position-relative">
                <button class="btn btn-success -toggle w-100 text-start btn-lg position-relative" type="button"
                    id="MenuButton1" data-bs-toggle="" aria-expanded="true">
                    <i class="fas fa-palette text-white">&nbsp;&nbsp;&nbsp;</i>Interests
                </button>
                <div class="-menu w-100 p-3" aria-labelledby="MenuButton1">
                    <hr class="w-100 mx-auto">
                    <div class="row mb-4">
                        <!-- Description Start -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form3Example3">Hobby</label>
                            <input type="text" id="" placeholder="e.g Hiking" class="form-control" />
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <button class="btn btn-success"><i
                                        class="far fa-lightbulb text-white">&nbsp;&nbsp;</i>Tips</button>
                            </div>
                        </div>
                        <div class="col text-end mb-4">
                            <div class="form-outline">
                                <button class="btn btn-success "><i
                                        class="far fa-trash-alt text-white">&nbsp;&nbsp;</i>Delete</button>
                                <button class="btn btn-success "><i
                                        class="far fa-save text-white"></i>&nbsp;&nbsp;Save</button>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <button class="btn btn-success w-100"><i
                                    class="fas fa-plus-circle text-white"></i>&nbsp;&nbsp;Add Another Hobby</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Interests end here -->
            <!-- addd Extra section -->
            <!-- <div class="dropdown pt-5 position-relative">
                <select class="dropdown-toggle w-100 text-start btn-lg bg-success" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="true">
                    <option value="">+ Add extra section</option>
                    <option value="course">Courses</option>
                    <option value="availability">Achievements</option>
                    <option value="variousInformation">Publications</option>
                    <option value="single_textarea">Create custom section</option>
                </select>
            </div> -->
        </div>
        <center>
            <a href="templates"> <button class="btn btn-success rounded-pill btn-lg mt-5 mb-4">Next Step&nbsp;&nbsp;<i
                        class="fas fa-arrow-right text-white"></i>
                </button></a><br>
            <a href="personal" class="text-success mt-5"><i
                    class="fas fa-arrow-left text-success"></i>&nbsp;&nbsp;Previous
                Step</a>
        </center>
    </div>
    {% endblock content %}