{% extends 'master.html' %}
{% load static %}
{% block content %}

<section id="mainback">
  <div class="container-fluid">
    <div class="row mh-100">
      <div class="col-md-12 col-xs-12 text-center pb-md-5 mh-100">
        <h1 class="mt-md-5 pt-md-5 mt-sm-5 pt-sm-5 mt-xs-5 pt-xs-5" id="mainhead">
          Create your professional CV <br />
          with online CV maker
        </h1>
        <h6 class="pt-md-4 pt-sm-4 pt-xs-4" id="subhead">
          Build your brand-new CV in as little as 5 minutes.
        </h6>
        <h3 class="pt-md-4 pb-md-4 pt-sm-4 pb-sm-4 pt-xs-4 pb-xs-4">
          Try it for free.
        </h3>
        <a href="personal"><button type="button" class="btn btn-success rounded-pill btn-lg" id="buttonmain1">
          Create Your CV
        </button></a>
      </div>
    </div>
  </div>
</section>
<section class="container mt-5 mb-5" id="container2">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center pt-5">Resume Templates for Every Career Path.</h3>
      <hr class="rounded-pill m-auto bg-success" style="height: 8px; opacity: 1" id="line1" />
    </div>
    <div class="col-md-12">
      <h6 class="text-center p-5">
        You can pick one of our handcrafted resume templates above. You can
        start building your resume in less than 5 seconds, using predefined
        sections approved by recruiters worldwide. You can also customize it to
        your own needs and personality and hit 'Download'. It's THAT easy to
        use, even if you've never made a resume in your life before!
      </h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'image/cv1.png' %}" alt="" />
      <center>
        <div class="pt-3">
          <h5>Creative Resume Template</h5>
          <p class="fw-light">
            A resume template as creative as your imagination
          </p>
        </div>
      </center>
    </div>
    <div class="col-md-4">
      <img src="{% static 'image/cv2.png' %}" alt="" />
      <center>
        <div class="pt-3">
          <h5>Professional Resume template</h5>
          <p>Put your best foot forward with a professional resume template</p>
        </div>
      </center>
    </div>
    <div class="col-md-4">
      <img src="{% static 'image/cv3.png' %}" alt="" />
      <center>
        <div class="pt-3">
          <h5>College Resume Template</h5>
          <p>No experience? No problem!</p>
        </div>
      </center>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-2">
      <center>
        <a href="templates"><button type="button" class="btn btn-success rounded-pill mb-5" id="mainbutton2">
          More Resume Templates  &nbsp;&nbsp;<i class="fas fa-arrow-right text-white"></i>
        </button></a>
      </center>
    </div>
  </div>
</section>
<section class="container mt-5 mb-5" id="container2">
  <div class="container px-4 py-5" id="featured-3">
    <!-- <h2 class="pb-2 m-auto">Why Use The CVforYou Resume Builder?</h2> -->
    <h3 class="text-center pt-1">Why Use The CVforYou Resume Builder?</h3>
    <hr class="rounded-pill m-auto bg-success" style="height: 8px; opacity: 1" id="line1" />
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img src="{% static 'image/freeandpremium.png' %}" alt="" class="w-25" />
        <h4>Free AND Premium</h4>
        <p>
          We offer both free and premium features. Want your resume to have that
          extra punch? Upgrade to Premium. On a budget? That's OK too - you can
          use our resume buider completely free of charge.
        </p>
      </div>
      <div class="feature col">
        <img src="{% static 'image/creative.png' %}" alt="" class="w-25" />

        <h4>Creative and Professional Resume Templates</h4>
        <p>
          Whatever resume template you're looking for, we've got it! Whether
          it's a classic black-and-white template, or something a bit more
          outside the box, we have what you need!
        </p>
      </div>
      <div class="feature col">
        <img src="{% static 'image/nohiddenfee.png' %}" alt="" class="w-25" />

        <h4>NO Hidden Fees</h4>
        <p>
          With CVforYou, you won’t spend hours working on your resume, just to
          be hit with a hidden paywall. Our resume builder will notify you if
          you’re using any of our premium features in advance.
        </p>
      </div>
    </div>
    <div class="row g-4 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <img src="{% static 'image/editresume.png' %}" alt="" class="w-25" />
        <h4>Edit Your Resume in Real Time</h4>
        <p>
          As you edit your resume with our builder, you’ll immediately see the
          changes applied to your document.
        </p>

      </div>
      <div class="feature col">
        <img src="{% static 'image/feedback.png' %}" alt="" class="w-25" />

        <h4>Live Content Feedback</h4>
        <p>
          Our CV builder provides real-time feedback on your resume content,
          ensuring that your resume reaches its full potential!
        </p>
      
      </div>
      <div class="feature col">
        <img src="{% static 'image/nohiddenfee.png' %}" alt="" class="w-25" />

        <h4>NO Hidden Fees</h4>
        <p class="fw-light">
          With CVForYou, you won’t spend hours working on your resume, just to
          be hit with a hidden paywall. Our resume builder will notify you if
          you’re using any of our premium features in advance.
        </p>
       
      </div>
    </div>
  </div>
  <center>
    <a href="personal"><button type="button" class="btn btn-success rounded-pill mb-5" id="mainbutton3">Try It Out Your Self  &nbsp;&nbsp;<i class="fas fa-arrow-right text-white"></i>
    </button></a>
  </center>
</section>

<!-- feedback section -->

<section class="container " id="container3">
  <center class="pt-5">
    <h3>
      What do our users say about CVforYou?
    </h3>
    <hr class="rounded-pill m-auto bg-success " style="height: 8px; opacity: 1" id="line1" />
  </center>
  <div class="row mx-auto mt-5 ">
    <div class="col-lg-4 mx-auto text-center mb-5">
      <img src="{% static 'image/niyas.jpg' %}" alt="" class="mx-auto feedpic"
        style="width: 140px; border-radius: 100%" />
      <h2>Niyas Muhammed</h2>
      <p>Undoubtedly, CVforYou was a great success for me. Within 15 minutes, I had created my resume and sent it with
        the email program.</p>
      <div class="divider">
      </div>

    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img src="{% static 'image/ameen.jpg' %}" alt="" id="feedpic"
        style="width: 140px; border-radius: 100%" />

      <h2>Al Ameen</h2>
      <p>
        I received positive comments on my resume and found a great job very quickly. I certainly recommend CVforYou!
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <img src="{% static 'image/ijas.jpg' %}" alt="" id="feedpic"
        style="width: 140px; border-radius: 100%" />

      <h2>Ijas Kari</h2>
      <p>
        I find it very handy that I can organise all of my resumes and applications in one place with CVforYou . It holds such beautiful resume templates!
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <center>
    <h2>
      <a href="personal"><button class="btn btn-success rounded-pill mb-5">Get Started Now   &nbsp;&nbsp;<i class="fas fa-arrow-right text-white"></i></button></a>
    </h2>
  </center>
</section>
{% endblock content %}