{% extends 'masterstaff.html' %}
{% load static %}
{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div> -->
</div>


<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col" style="height: 100%">
        <div class="card card-cover h-50 overflow-hidden text-white bg-success rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class="  mb-4 display-6 lh-1 fw-bold">Total Members</h2>
                <ul class="d-flex list-unstyled ">
                    <li class="d-flex align-items-center">
                        <h3 class="">84526</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col" style="height: 50%;">
        <div class="card card-cover h-50 overflow-hidden text-white bg-success rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h3 class="  mb-4 display-6 lh-1 fw-bold">Total Downloads</h3>
                <ul class="d-flex list-unstyled ">
                    <li class="d-flex align-items-center">
                        <h3 class="">84526</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col" style="height: 50%;">
        <div class="card card-cover h-50 overflow-hidden text-white bg-success rounded-5 shadow-lg">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                <h2 class=" mb-4 display-6 lh-1 fw-bold">Premium Members</h2>
                <ul class="d-flex list-unstyled ">
                    <li class="d-flex align-items-center">
                        <h3 class="">84526</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    w

</div>







{% endblock %}